.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.adjustable-number {
	color: #0dbe04;
	white-space: pre-wrap;
	cursor: ew-resize;
}
.adjustable-number:hover {
	background-color: #e4ffed;
	color: #0cb304;
}
.adjustable-number.dragging {
	background-color: #66c563;
	color: #fff;
}

.calculated-result {
	color: #2695fd;
	cursor:pointer;
	white-space: pre-wrap;
}
.calculated-result:hover {
	background-color: #e1eef3;
}
.calculated-result.locked {
	background-color: #4eabff;
	color: #fff;
}
.calculated-result.locked:hover {
	background-color: #529cdf;
}