@import 'partials/mixins';
@import 'partials/variables';
@import 'partials/content';

html,
body,
body > div,
.wrapper {
	height: 100%;
	margin: 0;
	width: 100%;
}

.wrapper {
	background-color: $color-1;
	color: $color-2;
	font-family: $font;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

.center {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
}