$font-size-base:          14px !default;
$font-size-h1:            floor(($font-size-base * 2.4)) !default; // ~34px
$font-size-h2:            floor(($font-size-base * 2)) !default; // ~28px
$font-size-h3:            ceil(($font-size-base * 1.6)) !default; // ~22px
$font-size-h4:            ceil(($font-size-base * 1.25)) !default; // ~18px

$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "../../node_modules/react-bootstrap-typeahead/css/Typeahead.css";
@import "../../node_modules/react-bootstrap-typeahead/css/Token.css";

@import 'partials/mixins';
@import 'partials/variables';
@import 'partials/content';
@import 'partials/bootstrap';
@import 'partials/tangle';

div > h1:first-child {
	margin-top: 0;
}

html,
body,
body > div,
.wrapper {
	min-height: 100%;
	margin: 0;
	width: 100%;
}

.wrapper {
	background-color: $color-1;
	color: $color-2;
	font: $font;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

.center {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
}

.waiter {
	display: none;
}

body.wait {
	cursor: wait;

	.waiter {
		display: block;
	}

	a, label, input, textarea, keygen, select, button {
		cursor: wait !important;
	}
}

.editor {
	box-sizing: border-box;
	border: 1px solid #ddd;
	cursor: text;
	padding: 16px;
	border-radius: 2px;
	margin-bottom: 2em;
	box-shadow: inset 0px 1px 8px -3px #ABABAB;
	background: #fefefe;
	min-height: 140px;
}

.editorLink {
	text-decoration: underline;
}

.mentionSuggestionsPortal {
	background-color: $decrement-background;
	padding: 1px;
	min-height: 10px;
	min-width: 10px;
}

.mention {
	color: #4a85bb;
	text-decoration: none;
}

.mentionSuggestions {
	border-top: 1px solid #eee;
	background: #fff;
	border-radius: 2px;
	cursor: pointer;
	padding-top: 8px;
	padding-bottom: 8px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	transform-origin: 50% 0%;
	transform: scaleY(0);
	margin: -16px;
}

.mentionSuggestionsEntryContainer {
	display: table;
	width: 100%;
}

.mentionSuggestionsEntryContainerLeft,
.mentionSuggestionsEntryContainerRight {
	display: table-cell;
	vertical-align: middle;
}

.mentionSuggestionsEntryContainerRight {
	width: 100%;
	padding-left: 8px;
}

.mentionSuggestionsEntry {
	padding: 7px 10px 3px 10px;
	transition: background-color 0.4s cubic-bezier(.27,1.27,.48,.56);
}

.mentionSuggestionsEntry:active {
	background-color: #cce7ff;
}

.mentionSuggestionsEntryText,
.mentionSuggestionsEntryTitle {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.mentionSuggestionsEntryText {
}

.mentionSuggestionsEntryTitle {
	font-size: 80%;
	color: #a7a7a7;
}

.mentionSuggestionsEntryAvatar {
	display: block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
}