@import '~/npm-font-open-sans/open-sans.css';

$font: 'Open Sans';
$color-1: #fff;
$color-2: #333;

html,
body,
#root,
.wrapper {
	height: 100%;
	margin: 0;
	width: 100%;
}

.wrapper {
	background-color: $color-1;
	color: $color-2;
	font-family: $font;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;

	.flat {
		background-color: #6496c8;
		border: none;
		border-radius: 5px;
		box-shadow: none;
		color: $color-1;
		font-size: 20px;
		line-height: 1.8;
		padding: 15px 45px;

		&:focus {
			outline: none;
		}

		&:hover {
			background-color: #346392;
		}

		&:active {
			background-color: #27496d;
		}
	}

	.group {
		.output {
			display: block;
			font-size: 42px;
			padding-bottom: 20px;
			text-align: center;
		}
	}

	.center {
		align-items: center;
		display: flex;
		height: 100%;
		justify-content: center;
	}
}
