@import '../variables';
@import '../mixins';

.tagGrid {
	&-grid {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;

		margin: 0 (-$card-spacer-x);
		padding: $card-spacer-y/2 $card-spacer-x/2;

		> * {
			flex: 1 1 auto;
			min-width: 85px;
			max-width: 200px;
			margin: $card-spacer-y/2 $card-spacer-x/2;
			hyphens: auto;

			p {
				@include multiline-ellipsis(1.2em, 2, $card-spacer-x/2);
			}
		}
	}
}