@import 'variables';
@import 'mixins';

.navbar .container {
	width: 100%;
}

.content {
	min-height: 100%;
	width: 100%;
	padding: 15px;

	&__subscribe {
		padding: 5px;
		font-size: 18px;
		width: 100%;
		display: block;

		span {
			display: block;
			width: 18px;
			margin: 0 auto;
		}
	}

	&__voteBox {
		padding-right: 10px;
		width: 50px;
		float: left;
	}

	&__panelButtonToolbar {
		margin-top: -6px;
	}

	&__panelTitle {
		font-size: 20px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		margin: 0;
	}

	&__button {
		border: none;
		border-radius: 5px;
		box-shadow: none;
		cursor: pointer;
		font-size: 20px;
		line-height: 1.8;
		padding: 10px 45px;
		width: 115px;

		&:not(:last-of-type) {
			margin-right: 15px;
		}

		&--increment {
			@include button($increment-background);
		}

		&--decrement {
			@include button($decrement-background);
		}
	}

	&__output {
		display: block;
		font-size: 42px;
		padding-bottom: 20px;
		text-align: center;
	}

	&__footer {
		color: #333;
		font-size: 15px;
		font-style: italic;
		margin-top: 40px;
		text-align: center;
	}

	.favoriteTags {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -10px;
		position: relative;

		/*&:before {
			display: block;
			content: '';
			position: absolute;
			z-index: -1;
			top: 10px;
			right: 20px; // 20px instead of 10px due to padding
			bottom: 10px;
			left: 10px;
			background: #666;
		}*/

		div {
			padding: 5px;
			min-width: 120px;
			min-height: 100px;
			background: $gray-lighter;
			margin: 10px;
			font-size: 1.5em;
			line-height: 1em;

			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}