@mixin button($background, $color: #fff) {
	background-color: $background;
	color: $color;

	&:focus {
		outline: none;
	}

	&:hover {
		background-color: darken($background, 10%);
	}

	&:active {
		background-color: darken($background, 20%);
	}
}